@import './variables';

.knobcontainer {
  position: relative;
  margin: 0 auto;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  width: 5em;
  height: 5em;
}

.knobdraggable {
  position: absolute;
  margin: 0 auto;
  width: 5em;
  height: 5em;
}

.knobdrag {
  position: absolute;
  margin: 0 auto;
  top: 1em;
  left: 0;
  right: 0;
  width: 3em;
  height: 3em;
  border-radius: 50%;

  &.playableOscillator {
    @include playableOscillatorCenterDrag();
  }

  &.gain {
    @include gainCenterDrag();
  }

  &.oscillator {
    @include oscillatorCenterDrag();
  }

  &.delay {
    @include delayCenterDrag();
  }

  display: flex;
  align-items: center;
  justify-content: center;

  .knobdragspan {
    font-weight: 700;
    font-weight: 200;

    &.playableOscillator {
      color: $playableOscillatorKnobValueColor;
    }

    &.gain {
      color: $gainKnobValueColor;
    }

    &.oscillator {
      color: $oscillatorKnobValueColor;
    }

    &.delay {
      color: $delayKnobValueColor;
    }
  }
}

.knobrotate {
  width: 5em;
  height: 5em;
  position: absolute;
  border-radius: 50%;

  &.playableOscillator {
    background: $playableOscillatorOuterCircleColor;
  }

  &.gain {
    background: $gainOuterCircleColor;
  }

  &.oscillator {
    background: $oscillatorOuterCircleColor;
  }

  &.delay {
    background: $delayOuterCircleColor;
  }
}
